* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
  height: 7.6vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: center;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-items: center;
}
header nav ul li a {
  font-size: 1.7vw;
  line-height: 3vh;
  letter-spacing: 0.093em;
  font-weight: 100;
  text-decoration: none;
  color: white;
  margin: 13.5vw;
  margin-left: 12vw;
  position: relative;
  bottom: 2.8vh;
  font-family: "Bangers", cursive;
  text-align: center;
}

.logo {
  display: block;
  position: relative;
  top: 1.9vh;
  left: -0.5vw;
  overflow: hidden;
  border-radius: 22%;
}

.back {
  background: url("Flash.jpg") repeat;
  height: 170vh;
  background-size: cover;
  width: 100vw;
  color: whitesmoke;
  background-attachment: scroll;
  background-position: center;
}

.box {
  display: flex;
  justify-content: space-between;
}

.box1 {
  width: 65vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.445);
  color: white;
  position: relative;
  top: 12vh;
  left: 4.8vw;
  text-align: center;
  border: 2px solid rgba(16, 146, 186, 0.565);
  font-family: "Titillium Web", sans-serif;
  border-radius: 5%;
  font-size: 2vh;
  margin-bottom: 4vh;
}

.box2 {
  width: 40vw;
  height: auto;
}

.gif1 {
  position: relative;
  width: 36vw;
  height: 55vh;
  top: 20vh;
  left: 22vw;
  border-radius: 64%;
  border: 3px solid rgba(224, 235, 74, 0.631);
}
.gif2 {
  position: relative;
  width: 80vw;
  height: 46vh;
  top: 105vh;
  border: 3px solid rgba(255, 0, 0, 0.57);
  right: 13.8vw;
}

footer {
  background-color: rgb(17, 17, 17);
  color: white;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 6vh;
  width: 100vw;
}

.copy {
  width: 12.5vw;
  height: 3vh;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 0.084em;
  font-weight: 100;
  font-size: 1.1vw;
  position: relative;
  right: 1.5vw;
  padding-right: 4px;
}

.noogler {
  position: relative;
  right: 66.3vw;
  top: 0.1vh;
}
.YT {
  position: relative;
  right: 72.8vw;
  top: 0.1vh;
}
.TW {
  position: relative;
  right: 79vw;
  top: 0.1vh;
}
.IG {
  position: relative;
  right: 84.9vw;
  top: 0.1vh;
}
